<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CSGOSTAT</title>
    <link rel="stylesheet" href="/stylesheets/stats.css?v=2.0">
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
</head>
<body>
<div id="bg"></div>
<!-- Make loading animation -->
<div id="loader">
    <div class="container">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
    <span id="loadingText"></span>
</div>
<div id="main"></div>

<script>
    let loadingTextArr = ['loading...', 'scattering salt...', 'getting data...', 'contacting valve...', 'just a sec...'];
    document.getElementById('loadingText').innerText = loadingTextArr[Math.floor(Math.random() * loadingTextArr.length)];
    // Make ajax POST request to /u/:id
    // Display all stats on page
    $.ajax({
        type: 'POST',
        contentType: 'application/json',
        url: $(location).attr('href'),
        success: function(data) {
            console.log(data);
            if (!data.error) {
                $('#loader').hide();
                function locCode(code){
                    if(code !== undefined) {
                        return `<img src="http://steamcommunity-a.akamaihd.net/public/images/countryflags/${code.toLowerCase()}.gif"> ${code}`;
                    } else {
                        return '';
                    }
                }
                function onlineState(state) {
                    if (state === 'Offline') {
                        return '<span id="onlineState" style="color: grey;">Offline</span>'
                    } else if (state === 'Online') {
                        return '<span id="onlineState" style="color: lightgreen;">Online</span>'
                    } else if (state === 'Away') {
                        return '<span id="onlineState" style="color: orange;">Away</span>'
                    } else if (state === 'Busy') {
                        return '<span id="onlineState" style="color: lightcoral;">Busy</span>'
                    } else if (state === 'Snooze') {
                        return '<span id="onlineState" style="color: lightskyblue;">Snooze</span>'
                    } else {
                        return '<span id="onlineState" style="color: lightgreen;">Online</span>'
                    }
                }
                // Put stats on page
                $('#main').append(`<header id="mainHeader"><a href="${data.summ.profileUrl}"><img id="mainAvatar" src="${data.summ.avatarFull}"></a><div id="profileData"><span id="mainName">${data.summ.personaName}</span>${onlineState(data.summ.personaState)}<p id="more"><a href="${data.summ.profileUrl}" id="mainProfileLink">Profile</a></p><p id="more">${locCode(data.summ.countryCode)}</p></div></header>`).show();
            } else {
                // TODO: display error page
            }
        }
    });
</script>
</table>
</body>
</html>